.stageContainer {
    width: 100%;
    min-height: 200px;
    margin-top: 5px;
    border: 1px solid #888888;
    display: flex;
}

.stageTitle {
    width: 20%;
    text-align: center;
    border-right: 1px solid #888888;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nodes {
    width: 78%;
    flex-grow: 1;
    border-right: 1px solid #888888;
}

.removeContainer {
    width: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}