.itemContainer {
    width: 100%;
    border-bottom: 1px solid #888888;
    display: flex;
}

.itemInfo {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 30%;
    border-right: 1px solid #888888;
}

.itemName {
    border-right: 1px solid #888888;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemPercent {
    display: flex;
    justify-content: center;
    align-items: center;
}
