.itemContainer {
    width: 100%;
    border-bottom: 1px solid #888888;
    display: flex;
}

.itemInfo {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 40%;
    border-right: 1px solid #888888;
}

.itemName {
    border-right: 1px solid #888888;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemPercent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrangeContainer {
    width: 60%;
}

.arrangeItem {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    border-bottom: 1px solid #888888;
}

.arrangeOwner {
    border-right: 1px solid #888888;
    display: flex;
    justify-content: left;
    align-items: center;
}

.arrangePercent {
    border-right: 1px solid #888888;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrangeActualPercent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyArrange {
    cursor: pointer;
    width: 100%;
    height: 100%;
}
