.itemContainer {
    width: 100%;
    border-bottom: 1px solid #888888;
    display: flex;
}

.itemInfo {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 30%;
    border-right: 1px solid #888888;
}

.itemName {
    border-right: 1px solid #888888;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemPercent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrangeContainer {
    width: 70%;
}

.arrangeItem {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    border-bottom: 1px solid #888888;
}

.arrangeOwner {
    border-right: 1px solid #888888;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrangePercent {
    border-right: 1px solid #888888;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrangeActualPercent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyArrange {
    cursor: pointer;
    width: 100%;
    height: 100%;
}
